<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infos</title>
    <meta name="description" content="MVHS: HTML und CSS Grundkurs">
    <meta name="keywords" content="HTML, CSS">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>

    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="infos.html" class="aktuell">Infos</a></li>
            </ul>
        </nav>
        <h1>Infos</h1>
    </header>

    <main>
    </main>

    <footer>
        &copy; 2023
    </footer>


</body>

</html>