@charset "utf-8";

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    color: black;
    background-color: #fefefe;
    margin: 0;
}

h1 {
    font-size: 3.0rem;
    font-weight: normal;
    text-align: center;
    padding: 2rem;
    margin: 0;
}

h2 {
    border-bottom: 1px solid black;
}

nav {
    background-color: darkblue;
}

nav ul {
    display: flex;
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.8rem;
}

main {
    display: flex;
    max-width: 62rem;
    margin: auto;
}

article {
    width: 50%;
    margin: 0 2rem;
}

footer {
    background-color: darkblue;
    color: white;
    padding: 2rem;
    margin-top: 1rem;
}
