<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpenpässe</title>
    <meta name="author" content="Manfred Rosenboom">
    <meta name="description" content="MVHS: HTML und CSS Grundkurs">
    <meta name="keywords" content="HTML, CSS">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>

<header>
    <nav>
        <li><a href="index.html" class="aktuell">Home</a></li>
        <li><a href="infos.html">Infos</a></li>
    </nav>
    <h1>Alpenpässe</h1>
</header>

<main>
    <article>
        <h2>Gavia-Pass (Passo di Gavia)</h2>
        <figure>
            <img src="assets/images/20231003_Gaviapass_320x240-min.jpg" width="320" height="240" alt="Gavia-Pass"
                 title="Gavia-Pass">
            <figcaption>Gavia-Pass (Passo di Gavia), 03.10.2023,
                <a href="https://www.google.com/maps/place/Gaviapass/@46.3435183,10.4639839,14z/data=!3m1!4b1!4m6!3m5!1s0x47830081e05663a1:0x4a89c58e906e0c51!8m2!3d46.3434911!4d10.4846264!16zL20vMGRna2s4?entry=ttu"
                   rel="nofollow" target="_blank">Google Maps</a><br>
            </figcaption>
        </figure>

        <h3>Wikipedia</h3>
        <p>
            Der Gaviapass liegt im Nationalpark Stilfserjoch und verbindet Bormio im Norden mit Ponte di Legno im
            Süden
            über eine 43 km lange Passstraße (SS300, bis April 2021 SP29 in Sondrio, SP BS 300 in Brescia). Auf der
            Nordrampe sind zehn Kehren bis zur 2621m hoch gelegenen Passhöhe zu durchfahren, auf der Südrampe
            fünfzehn Kehren. Der zu überwindende Höhenunterschied beträgt jeweils etwa 1400 m.
        </p>

        <p>
            Der Pass präsentiert sich auf seiner Nordrampe relativ gut und zweispurig ausgebaut. Die erst seit Ende
            der
            1990er-Jahre durchgängig asphaltierte Südrampe dagegen weist einige sehr enge Kehren und eine teilweise
            nur
            1,9 bis 3 Meter breite Fahrbahn auf. Für entgegenkommenden Verkehr gibt es einige Ausweichstellen. Auf
            der
            Südseite befindet sich auch ein etwa 800 m langer Tunnel, der als Umfahrung für einen mittlerweile für
            den
            Verkehr gesperrten, sehr engen Abschnitt dient. An verkehrsreichen Tagen kann es insbesondere auf der
            Südrampe zu schwierigen Verkehrssituationen kommen, da hier auf einigen Abschnitten ein Passieren von
            zwei sich begegnenden Fahrzeugen unmöglich ist.
        </p>

        <p>
            Die Passhöhe liegt zwischen dem Monte Gavia (3223m) und dem Corno dei Tre Signori (3360m)
            und bietet einen guten Ausblick auf die Gletscher der Adamellogruppe.

            Der Gaviapass wird gelegentlich in anspruchsvolle Bergetappen des Giro d’Italia eingebunden und markiert
            dann oft den höchsten Punkt des Rennens, den Cima Coppi, an dem die meisten Bergwertungspunkte vergeben
            werden.
        </p>

        <h3>Weitere Informationen</h3>
        <ul>
            <li><a href="https://de.wikipedia.org/wiki/Gaviapass" rel="nofollow" target="_blank">Wikipedia</a></li>
            <li><a href="https://www.alpenpaesse.de/alpenpaesse/gavia-pass-passo-di-gavia" rel="nofollow"
                   target="_blank">Pässeportal</a></li>
        </ul>
    </article>

    <article>
        <h2>Manghen-Pass (Passo del Manghen)</h2>
        <figure>
            <img src="assets/images/20231005_Manghenpass_320x240-min.jpg" width="320" height="240"
                 alt="Manghen-Pass" title="Manghen-Pass">
            <figcaption>Manghen-Pass (Passo del Manghen), 05.10.2023,
                <a href="https://www.google.com/maps/place/Manghenpass/@46.1897743,11.491956,12z/data=!4m6!3m5!1s0x477885e02b3ebff3:0x1d0709882e714d00!8m2!3d46.175278!4d11.439167!16s%2Fm%2F027wp4n?entry=ttu"
                   rel="nofollow" target="_blank">Google Maps</a>
            </figcaption>
        </figure>

        <h3>Wikipedia</h3>
        <p>
            Der Manghenpass (italienisch Passo Manghen auch Passo del Manghen) liegt im Lagorai in den Fleimstaler
            Alpen im
            Trentino. Die Passhöhe beträgt 2047m. Er ist der einzig autobefahrbare Übergang zwischen dem Fleimstal
            und der Valsugana und vom nördlichen Ausgangsort Molina (857 m) bis zum südlichen Basisort Castelnuovo
            (361 m)
            beträgt die Entfernung 40 km. Die Steigungsraten erreichen 16 %. Die Nordrampe hat 13, die Südrampe 10
            meist
            enge Kehren. Für LKW und Busse besteht Fahrverbot.
        </p>

        <h3>Weitere Informationen</h3>
        <ul>
            <li><a href="https://de.wikipedia.org/wiki/Manghenpass" rel="nofollow" target="_blank">Wikipedia</a>
            </li>
            <li><a href="https://www.alpenpaesse.de/alpenpaesse/manghen-pass-passo-del-manghen" rel="nofollow"
                   target="_blank">Pässeportal</a></li>
        </ul>
    </article>
</main>

<footer>
    &copy; 2023
</footer>
</body>

</html>