@charset "utf-8";

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-size: 120%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    color: black;
    background-color: #fefefe;
    margin: 0;
}

h1 {
    font-size: 3.0rem;
    font-weight: normal;
    text-align: center;
    padding: 2rem;
    margin: 0.625rem 0;
}

h2 {
    border-bottom: 1px solid black;
}

nav {
    background-color: darkblue;
    position: fixed;
    top: 0;
    left: 0.5rem;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style: none;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.8rem;
    transition: all 1s ease;
}

main {
    display: flex;
    flex-direction: row;
    max-width: 62rem;
    margin: auto;
}

article {
    width: 50%;
    margin: 0 2rem;
}

footer {
    background-color: darkblue;
    color: white;
    padding: 2rem;
    margin-top: 1rem;
}

nav .aktuell {
    font-weight: bold;
    color: orange;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.vollebreite {
    width: 100%;
    height: auto;
}

/*
img {
    max-width: 100%;
    height: auto;
}
*/

@media screen and (max-width: 640px) {
    nav {
        position: inherit;
    }

    nav ul {
        flex-direction: column;
    }

    main {
        display: block;
    }

    article {
        width: auto;
    }
}